@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.heading-description{
    max-height: 80px;
    max-width: 1440px;
    display: flex; 
}
.heading-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    width: 30%;
}
.heading-button{
    margin-left: 40%;
}
.heading-button button{
    opacity: 80%;
    margin: 20px;
    width: 180px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
}
.banner-section{
    height: 652px;
    max-width: 1366px;
    border: 2px solid red;
    background-image: url(../assets/Hero-bg.png);
    background-size: contain;
}
.banner-logo{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-logo img{
    height: 250px;
    width: 250px;
}
.banner-heading{
    height: 100px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    margin-top: 30px;
    
}
.banner-heading h2{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.banner-text{
    height: 60px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    
}
.banner-text p{
    font-family: "Inter", sans-serif;
    font-weight: 200px;
    font-size: 15px;
    opacity: 80%;
}
.contact-button{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contact-button button{
    width: 200px;
    height: 60px;
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    

}
